Source: libjpconj
Section: education
Priority: extra
Maintainer: Abdelkrime Aries <kariminfo0@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libqt4-dev
Standards-Version: 3.9.3
Homepage: https://github.com/kariminf/JapKatsuyou
#Vcs-Git: git@github.com:kariminf/JapKatsuyou.git
#Vcs-Browser: https://github.com/kariminf/JapKatsuyou.git

Package: libjpconj
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Japanese verb conjugation library
  This library is used to conjugate Japanese verbs
  It contains functions which help conjugation
  Giving the verb, type, end, time, polite, positive
