# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

*.qm
jpconj-bin/
libjpconj-bin/

*.qhc
*.qch

#Linux system

.directory
jpconj/Media/DB/*.db
jpconj/Media/img/*.png
jpconj/3rdParty/