[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Jap Katuyou
GenericName=Japanese verb conjugation
Comment=A free Japanese verb conjugation application
Exec=jpconj
Icon=/usr/share/jpconj/icon.png
Terminal=false
Categories=Languages;Education;Qt;


# Translations
Name[ar]=Jap Katuyou
GenericName[ar]=تصريف الأفعال اليابانية
Comment[ar]=تطبيق مجاني لتصريف الأفعال اليابانية
Icon[ar]=/usr/share/jpconj/img/icon.png

Name[fr]=Jap Katuyou
GenericName[fr]=Conjugaison des verbs Japonais
Comment[fr]=Une application gratruite pour la Conjugaison des verbs Japonais
Icon[fr]=/usr/share/jpconj/img/icon.png