Source: japkatsuyou
Section: education
Priority: extra
Maintainer: Abdelkrime Aries <kariminfo0@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libqt4-dev (>= 4.8.3), qt4-dev-tools (>= 4.8.3), libqtwebkit-dev (>= 2.2), libqkicona (>= 1.0.0), libqkicona-dev (>= 1.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/AnqaFalak/JapKatsuyou
#Vcs-Git: git://git.debian.org/collab-maint/japkatsuyou.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/japkatsuyou.git;a=summary
  
Package: libjpconj
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:Japanese verb conjugation library
  This library is used to conjugate Japanese verbs.
  It contains functions which help conjugation
  Giving the verb, type, end, time, polite, positive

Package: jpconj
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjpconj (>= 1.0.0), libqkicona (>= 1.0.0)
Description:JapKatsuyou: Japanese verb conjugation application
  This application is a GUI which use the library libjpconj.
  Giving a Japanese verb in its dictionary form (root+u),
  the application search for this verb in a verb database
  (created from Jim breen's dictionary Edict2), if the verb 
  is found, the application calls the library libjpconj to conjugate it.
